services:
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=watchparty
      # TODO: Add MONGO_INITDB_ROOT_USERNAME and MONGO_INITDB_ROOT_PASSWORD when re-enabling authentication
    volumes:
      - ./mongo-data:/data/db
