services:
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD:-devpassword123}
      - MONGO_INITDB_DATABASE=watchparty
    volumes:
      - ./mongo-data:/data/db
